<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQL - NodeJs</title>
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
    <nav class="navbar">
        <h1>Book<span id="yellow" >Manager</span></h1>
        <ul class="links_list">
            <li><a href="/">Cadastrar</a></li>
            <li><a href="/books">Livros</a></li>
        </ul>
    </nav>
    {{{body}}}
    <script src="https://kit.fontawesome.com/109116c721.js" crossorigin="anonymous"></script>
    <footer class="footer">AA</footer>
</body>
</html>